@model QuanLyTinTuc.Models.Account
@{

}
<h2>Quên mật khẩu</h2>
<form action="~/Account/ForgotPassword" method="post" enctype="multipart/form-data">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">

                <div class="card-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">


                            <div class="col-md-10">
                                @Html.LabelFor(m => m.TenHienThi)
                                @Html.TextBoxFor(m => m.TenHienThi, "", new { @class = "form-control", @placeholder = "TenHienThi" })
                                @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div>
                            <br>
                            Người nhận:
                            <td colspan="4">
                                <input type="email" name="Receiver" />
                            </td>
                        </div>

                        <input type="submit" value="Chấp nhận" class="btn-success" />



                        <div>

                            <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>

                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</form>
